<h2 class="page-header">Dashboard</h2>
<div id="div_g" style="width:600px; height:300px;"></div>
    <p>
        <a href="http://www.highcharts.com/demo/?example=dynamic-update&amp;theme=default"></p>
